

#DIV_Upg{
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
}
#DIV_Upgrades{
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
}
#DIV_Upgraded{

}

#LD_UpgBacon{
	background-color: #FF0000;
	animation: 0s expandWidth 0 linear;
}
#DIV_Upgraded hr{
	width: 85%;
}